# Python
__pycache__/
*.py[cod]
*.so
*.dll
*.dylib

# Virtual environments
.venv/
env/
venv/

# IDE
.idea/
.vscode/

# Packaging
build/
dist/
*.egg-info/

# Logs and temp files
*.log
*.tmp
*.bak

# Optional: ignore data files
#*.csv

# OS-specific
.DS_Store
Thumbs.db

# Windows system folders
AppData/
Documents/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/